*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    background: green;
}

nav h1{
    font-size: 44px;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: fantasy;
    color: white;
}

nav svg{
    cursor: pointer;
    display: none;
}


main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

main section:nth-child(1){
    width: 500px;
}
main section:nth-child(1) h1{
    font-size: 44px;
    font-family: cursive;
    color: green;
}
main section:nth-child(1) p{
    color: green;
    font-family: cursive;
    font-size: 16px;
    margin-top: 10px;
}



main section:nth-child(2) img{
    width: 600px;
    border-radius: 10px;
}
















@media only screen and (max-width:400px){
    nav ul{
        display: none;
    }
    nav h1{
        font-size: 33px;
    }
    nav svg{
        display: block;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
    }

    main section:nth-child(1){
    width: 350px;
    text-align: center;
}
main section:nth-child(1) h1{
    font-size: 44px;
    font-family: cursive;
    color: green;
}
main section:nth-child(1) p{
    color: green;
    font-family: cursive;
    font-size: 16px;
    margin-top: 10px;
}

main section:nth-child(2) img{
    width: 350px;
    border-radius: 10px;
    margin-top: 30px;
}

}